@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}
html,
body {
  @apply flex items-center justify-center w-full h-screen bg-[#F5F9FF] dark:bg-black;
  font-family: var(--font-raleway);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-smooth: never;
}





